<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.moneyroom.test.regression.LoginVerification"/>
      <class name="com.moneyroom.test.regression.IssueCollectorTourFundVerification"/>
      <class name="com.moneyroom.test.regression.IssueManagerSupervisorFundVerification"/>
      <class name="com.moneyroom.test.regression.ReturnCollectorTourFundVerification"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
